body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

.nav {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    background-color: #fff;
    box-shadow: 1px 1px 16px 0 rgba(0, 0, 0, 0.52);
    padding: 0px 10px;
}

.nav-1 {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    height: 50px;
    display: flex;

}

.nav-10 {
    width: 50%;
    margin: 5px;
    height: 50px;
}

.nav-10 button {
    margin-left: 230px;
    margin-top: 10px;
    padding: 8px 20px;
    color: white;
    background-color: blue;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    outline: none;
}

.nav-10 a img {
    width: 100px;
    padding-left: 150px;
}

/*section*/

.section {
    height: 90vh;
    padding-top: 120px;
    padding-bottom: 60px;
    background-image: url("https://assets.website-files.com/5ea8154485740b944c16fbf9/5eeb2ea70a12fb2a30f18648_5ea816de745cd4541a195770_YS-Academy-landing-page%20(2)-compressed%20(2).jpg");
    background-position: 0px 0px;


}

.container {
    text-align: center;
    align-items: center;
    display: block;
}

.content-1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-1>div {
    color: white;
    font-size: 20px;
    margin: 13px;
}

.content-text {
    margin-bottom: 10px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 60px;
    line-height: 100px;
    font-weight: 700;
    text-align: center;
}

.heading-1 {
    margin-bottom: 20px;
    font-family: Merriweather, serif;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;

    font-size: 32px;
    line-height: 36px;
    margin-top: 20px;
}

.content-2 {
    display: flex;
    margin-right: 0px;
    margin-bottom: 40px;
    align-items: center;
    text-align: right;
    justify-content: center;
}

.text-block {
    margin-right: 20px;
    color: white;
}

.hr {
    display: block;
    width: 600px;
    height: 1px;
    margin-bottom: 20px;
    margin-left: 350px;
    justify-content: center;
    background-color: white;
}

.para-1 {
    margin-bottom: 40px;
    font-family: Merriweather, serif;
    color: white;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
}

.button-1 {
    border-radius: 10px;
    background-color: #034ea1;
}

.button-2 {
    display: inline-block;
    padding: 9px 15px;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;

}

/*section 2*/
.section-2 {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: white;
}

.content-10 {
    margin-left: auto;
    margin-right: auto;
}

.heading-text {
    margin-bottom: 20px;
    font-family: Merriweather, serif;
    color: blue;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
}

.para-2 {
    font-family: Merriweather, serif;
    color: #404047;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

/*section-3*/


.section-3 {
    height: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f4fafc;
}

.content-30 {
    display: flex;
    align-items: center;
    background-color: #034ea1;
    color: white
}

@media screen and (max-width: 767px) {
    .content-30 {
        flex-direction: column;
    }
}

.cont-0 {
    padding: 21px 21px 0px;
}

.head {
    font-size: 30px;
    line-height: 40px;
}

/*section-4*/
.section-4 {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #000;
}

.cont-30 {
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .cont-301 {
        max-width: 728px;
    }
}

.text-8 {
    margin-bottom: 40px;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
}

.videodiv {
    width: auto;
    height: auto;
    margin-bottom: 40px;
}

.w-video {
    width: 100%;
    padding: 0;
}

.w-video iframe {
    width: 70%;
    height: 80vh;
}

.u-video {
    display: flex;
    flex-direction: row;
}

.u-video .first {
    padding-left: 200px;
}

.u-video .second {
    padding-left: 200px;
}

.u-video iframe {
    width: 150%;
    height: 50vh;
}

@media screen and (max-width: 767px) {
    .u-video {
        flex-direction: column;
    }

    .u-video .first {
        padding-left: 40px;
    }

    .u-video .second {
        padding-left: 40px;
    }

    .u-video iframe {
        width: 80%;
        height: 40vh;
    }
}

/*section-5*/

.section-5 {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgb(187, 187, 187);
    height: 150vh;
}

.cont-500 {
    margin-left: auto;
    margin-right: auto;
}

.head-500 {
    position: relative;
    float: left;
    width: 49%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.text-500 {
    margin-bottom: 40px;
    font-family: Merriweather, serif;
    color: #034ea1;
    font-size: 32px;
    line-height: 45px;
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 9px 15px;
    background-color: red;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
}

.inside {
    padding-left: 40px;
    color: #404047;
    font-size: 20px;
    float: left;
    width: 40%;
    min-height: 1px;
}

.line {
    background-color: black;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/*section-6*/

.section-6 {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fff;
    height: 110vh;
}

.head-600 {
    margin-bottom: 40px;
    font-family: Merriweather, serif;
    color: blue;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
}

.circle {
    margin-bottom: 40px;
}

.w-col {
    float: left;
    min-height: 1px;
    width: 33.33333333%;
}

.div-block-563 {
    text-align: center;
}

.image-459 {
    margin-bottom: 10px;
}

.text-block-896 {
    margin-bottom: 10px;
    font-family: Merriweather, serif;
    color: #034ea1;
    font-weight: 700;
}

.text-block-897 {
    font-family: Merriweather, serif;
    color: #404047;
    font-size: 14px;
    font-weight: 300;
}

.next0 {
    position: relative;
    top: 100px;
    right: 150px;
}

.next1 {
    position: relative;
    left: 150px;
    bottom: 120px;
}

/*section-7*/
.section-7 {
    padding-top: 60px;
    padding-bottom: 60px;
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    background-color: #f0f0f0;
    height: 60vh;
}

.cont-700 {
    margin-left: 250px;
    margin-right: auto;
    max-width: 940px;
}

.text-906 {
    margin-bottom: 40px;
    font-family: Merriweather, serif;
    color: #034ea1;
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    text-align: center;
}

.photo-1 {

    float: left;
    width: 40%;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

.text-block-907 {
    margin-top: 50px;
}

.div-block-564 {
    text-align: center;
}

.image-460 {
    margin-bottom: 10px;
}

.paragraph-121 {
    font-family: Merriweather, serif;
    color: #7c7c7c;
    font-weight: 400;
}

/*section-8*/
.section-8 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
}

.footer {

    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    text-align: center;
}